<h1>Dragons:</h1>
<% @dragons.each do |dragon| %>
<h3> <%= dragon.category %></h3>
<h3> <%= dragon.color %></h3>
<h3> <%= dragon.size %></h3>
<h3> <%= dragon.age %></h3>
<h3> <%= dragon.alignment %></h3>
<a href="/dragons/<%= dragon.id %>">Stats</a>
<% end %>
<div>
  <a href="/dragons/new"><h2>View Hatchlings </h2>
</div>